header {
    width: 84%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: #0e0a0b;
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_list {
    display: flex;
    list-style-type: none;
    gap: 48px;
}
        

        /* Estilo para a lista de links */
        nav ul {
            list-style: none;       /* Remove as bolinhas da lista */
            display: flex;          /* Coloca os itens em linha */
            gap: 20px;              /* Espaço entre os links */
        }

        /* Estilo para os links */
        nav a {
            color: white;
            text-decoration: none;  /* Remove o sublinhado */
            font-weight: bold;
        }

        nav a:hover {
            color: #ff9900;         /* Muda de cor ao passar o rato */
        }

        #nav_logo {
        font-size: 24px;
        color: var(--color-primary-3);
        }

        .rvluz {
         width: 10%;
        height: auto;
        }

        .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-item.active a {
    color: white;
    border-bottom: 3px solid rgb(131, 32, 49);
    transition: border-bottom .2s ease;
}

.nav-item.active a:hover {
    border-bottom: 3px solid rgb(201, 100, 117);
}